 <h1>簡易労働時間計算</h1>
 <%= link_to '戻る', root_path %>
  <br>
■１日間の法定労働時間　　　max:8時間
 <br>
■１週間の法定労働時間　　　max:40時間
<br>
■１ヶ月の法定時間外労働　　max:45時間

 <div class=alltime>
   <form name="time_kanri">

    <div class=keisan>
    <br>
        <b>月曜日</b>
        <div><input  type="text" class="box" name="A" placeholder="半角数字のみ">時間</div>
        <b>火曜日</b>
        <div><input type="text" class="box" name="B" placeholder="半角数字のみ">時間</div>
        <b>水曜日</b>
        <div><input type="text" class="box" name="C" placeholder="半角数字のみ">時間</div>
        <b>木曜日</b>
        <div><input type="text" class="box" name="D" placeholder="半角数字のみ">時間</div>
        <b>金曜日</b>
        <div><input type="text" class="box" name="E" placeholder="半角数字のみ">時間</div>

        <p><input type="button" class="calc-btn" onclick="calc();" value="計算"></p>
        <b>総労働時間(週)</b>
        <div><input id="weekall" class="box" type="text" name="AE" readonly="">時間</div>
        <b>残り法定労働時間(週)</b>
        <div><input id="weekqua" class="box" type="text"  name="EA" readonly="">時間</div>

       </div>
       </form>
       <script>

       function calc() {
        document.time_kanri.AE.value 
        =eval(document.time_kanri.A.value) + eval(document.time_kanri.B.value)+ eval(document.time_kanri.C.value)+ eval(document.time_kanri.D.value)+ eval(document.time_kanri.E.value);

        
        document.time_kanri.EA.value 
        =40 - (eval(document.time_kanri.A.value) + eval(document.time_kanri.B.value)+ eval(document.time_kanri.C.value)+ eval(document.time_kanri.D.value)+ eval(document.time_kanri.E.value));
    
       }
       </script>
       

   <form name="time_kanri2">

    <div class=keisan>
    <br>
        <b>労働日数(月)</b>
        <div><input  type="text" class="box" name="F" placeholder="半角数字のみ">日　</div>
        <b>平均労働時間(日)</b>
        <div><input type="text" class="box" name="G" placeholder="半角数字のみ">時間</div>
        <b>(所定・法定)労働時間(日)</b>
        <div><input type="text" class="box" name="H" placeholder="半角数字のみ" >時間</div>
    <br>
    <br>
    <br>
    <br>

        <p><input type="button" class="cal-btn" onclick="cal();" value="計算"></p>
        <b>残り法定時間外労働(月)</b>
        <div><input id="monthall" class="box" type="text" name="FH" readonly="">時間</div>
        <b>残業時間(月)</b>
        <div><input id="monthqua" class="box" type="text" name="HF"readonly="">時間</div>
       </div>
       </form>

       <script>

       
        function cal() {
        document.time_kanri2.FH.value 
        =45 - ((eval(document.time_kanri2.F.value)*eval(document.time_kanri2.G.value)) - (eval(document.time_kanri2.F.value) * eval(document.time_kanri2.H.value)));

        
        document.time_kanri2.HF.value 
        =(eval(document.time_kanri2.F.value)*eval(document.time_kanri2.G.value)) - (eval(document.time_kanri2.F.value) * eval(document.time_kanri2.H.value));
       }
       
       

       </script>


       <textarea  placeholder="メモ帳" class="large-field"></textarea>
    </div>
 </div>


