.rule{
 text-decoration: 3px underline;

}


.keisan{
  text-align: center;
}

.box{
  text-align: center;
  
}

.alltime{
display: flex;
justify-content:space-evenly;
}

.large-field{
width: 30vw;
height:60vh ;
margin-top: 20px;
}



.keisan1{
  border: 5px double gray;
  padding: 0px 30px 20px 30px;
  margin-top: 20px;
  text-align: center;
}

.keisan2{
  border: 5px double gray;
  padding: 0px 30px 20px 30px;
  margin-top: 20px;
  text-align: center;
}

.keisan3{

  color: white;
  text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
}